@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Bem vindo(a) à API de cadastro de filmes</h3>
    <p>Esse projeto foi desenvolvido como parte do Bootcamp everis new Talents .NET</p>
</div>
